{% macro alertErrors(errors) -%}
	{% if errors %}
		<div class="alert alert-danger">Please correct the following:<br/><ul>
        {% for error in errors %}
			<li>{{ error }}</li>
		{% endfor %}
		</ul></div>
	{% endif %}
{%- endmacro %}
{% macro title(text, btid, bttext, bttype) -%}
	<div class="title">{{ text }}
	{% if bttext and btid %}
		<a href="#" id="{{ btid }}"><button type="button" class="btn btn-
		{%- if bttype -%} {{ bttype }} {%- else -%} primary {%- endif -%}
		">{{ bttext }}</button></a>
	{% endif %}
	</div><hr/>
{%- endmacro %}