{%macro feedblock(element)%}

{% if element %}

<div class="col-sm-7">



                               <div class="panel panel-default">
                                 <div class="panel-heading"><a href="#" class="pull-right">View all</a> <h4>{{element[1]}}</h4></div>
                                  <div class="panel-body">
                                    <img src="//placehold.it/150x150" class="img-rounded pull-right"> <a href="#">Keyword: {{element[1]}}</a>
                                    <div class="clearfix"></div>
                                    <hr>


                                    <hr>
                                    <form>
                                    <div class="input-group">
                                      <div class="input-group-btn">
                                      <button class="btn btn-default">Comment</button><button class="btn btn-default"><i class="glyphicon glyphicon-share"></i></button>
                                      </div>
                                      <input type="text" class="form-control" placeholder="Add a comment..">
                                    </div>
                                    </form>

                                  </div>
                               </div>


                          </div>
</div>
{%endif%}

{%-endmacro%}












