{% if request.endpoint %}
	{% set entity = request.endpoint.split('.')[1] %}
{% endif %}
{% if checkSessions() %}{% endif %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico"> -->
    <title>{% block title %}{% endblock %}</title>
	<!-- Latest compiled and minified BS CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/style.css') }}">
    <!-- CSS for current entity -->
    {% if entity and fileExists(url_for('static', filename='styles/' + entity + '.css')) %}
   	 	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles/' + entity + '.css') }}">
   	{% endif %}
   </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('entities.home.main') }}">{{ foodnow() }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        	<div class="navbar-form navbar-right">
	       		{% block navigation %}
	       			{% if isLogged() %}
		       			<div class="btn-group">
							<a class="btn btn-success" href="{{ url_for('entities.user.main', user_id = getUser()[0]) }}">{{ getUser()[1] }}</a>
							<div class="btn-group">
						    	<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
						      		&nbsp;<span class="caret"></span>&nbsp;
						      	</button>
						      	<ul class="dropdown-menu">
						      		<li><a href="{{ url_for('entities.user.main', user_id = getUser()[0]) }}">My profile</a></li>
									<li><a href="{{ url_for('entities.user.settings', user_id = getUser()[0]) }}">Settings</a></li>
									<li><a href="{{ url_for('entities.signlog.logout') }}">Logout</a></li>
									<li role="separator" class="divider"></li>
									<li><a href="{{ url_for('entities.managerestos.new') }}">New restaurant</a></li>
								    {% set employments = getUserEmployments() %}
								    {% if employments %}
										<li role="separator" class="divider"></li>
								    	<li class="dropdown-header">Employments</li>
								      	{% for employment in employments %}
								      		{% set resto = getResto(id = employment[1]) %}
								      <li><a href="{{ url_for('entities.resto.main', resto_pseudo = resto[2]) }}">{{ resto[1] }}</a></li>
										{% endfor %}
								      {% endif %}
								</ul>
							</div>
						</div>
	       			{% else %}
	       			<form method="post" action="{{ url_for('entities.signlog.login') }}">
			            <div class="form-group">
			              <input type="text" name="mail" placeholder="Email" class="form-control">
			            </div>
			            <div class="form-group">
			              <input type="password" name="password" placeholder="Password" class="form-control">
			            </div>
			            <button type="submit" class="btn btn-success">Sign in</button>
		            </form>
		            {% endif %}
	          	{% endblock %}
          	</div>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    {% block body %}{% endblock %}
    <div class="container">
     <hr/>
      <footer>
        <p>&copy; 2016 {{ foodnow() }}</p>
      </footer>
    </div>
	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<!-- Latest compiled and minified BS JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Common JS -->
    <script src="{{ url_for('static', filename='scripts/common.js') }}"></script>
    <!-- JS for current entity -->
    {% if entity and fileExists(url_for('static', filename='scripts/' + entity + '.js')) %}
    	<script src="{{ url_for('static', filename='scripts/' + entity + '.js') }}"></script>
    {% endif %}
  </body>
</html>