{% set entity = request.endpoint.split('.')[1] %}
{% if checkSessions() %}{% endif %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico"> -->
    <title>{% block title %}{% endblock %}</title>
	<!-- Latest compiled and minified BS CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <!-- CSS for current entity -->
    {% if fileExists(url_for('static', filename=entity + '.css')) %}
   	 	<link rel=stylesheet type=text/css href="{{ url_for('static', filename=entity + '.css') }}">
   	{% endif %}
   </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('entities.home.main') }}">Food — Now !</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        	<div class="navbar-form navbar-right">
	       		{% block navigation %}
	       			{% if isLogged() %}
	       				<a href="{{ url_for('entities.signlog.logout') }}"><button type="button" class="btn btn-primary">Logout</button></a>
	       			{% else %}
	       			<form method="post" action="{{ url_for('entities.signlog.login') }}">
			            <div class="form-group">
			              <input type="text" name="mail" placeholder="Email" class="form-control">
			            </div>
			            <div class="form-group">
			              <input type="password" name="password" placeholder="Password" class="form-control">
			            </div>
			            <button type="submit" class="btn btn-success">Sign in</button>
		            </form>
		            {% endif %}
	          	{% endblock %}
          	</div>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    {% block body %}{% endblock %}
    <div class="container">
     <hr>
      <footer>
        <p>&copy; 2016 Food — Now !</p>
      </footer>
    </div> <!-- /container -->
	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<!-- Latest compiled and minified BS JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <!-- Common JS -->
    <script src="{{ url_for('static', filename='common.js') }}"></script>
    <!-- JS for current entity -->
    {% if fileExists(url_for('static', filename=entity + '.js')) %}
    	<script src="{{ url_for('static', filename=entity + '.js') }}"></script>
    {% endif %}
  </body>
</html>



