{% macro alertErrors(errors) -%}
	{% if errors %}
		<div class="alert alert-danger" style="margin-bottom: 16px;">Please correct the following:<br/><ul>
        {% for error in errors %}
			<li>{{ error }}</li>
		{% endfor %}
		</ul></div>
	{% endif %}
{%- endmacro %}

{% macro likeResto(resto_id) -%}
		<a href="{{url_for('entities.user.likeResto', user_id = session['user'][0], resto_id = resto_id)}}" class="btn btn-info restolike_btn" data-id="{{resto_id}}"><span class="glyphicon glyphicon-thumbs-up"></span></a>

{%- endmacro %}

{% macro likeDish(dish_id) -%}
		<a href="{{url_for('entities.user.likeDish', user_id = session['user'][0], dish_id = dish_id)}}" class="btn btn-sm btn-info dishlike_btn" data-id="{{dish_id}}"><span class="glyphicon glyphicon-thumbs-up"></span></a>
{%- endmacro %}

{% macro recommendedResto(resto_name , resto_pseudo, resto_id, description) -%}

			<div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="/static/images/default_resto.jpg" alt="">
                    <div class="caption">
                        <h3>{{resto_name}}</h3>
                        <p>{{description}}</p>
                        <p>
                            {{likeResto(resto_id)}} <a href="{{url_for('entities.resto.main', resto_pseudo=resto_pseudo)}}" class="btn btn-default">{{resto_pseudo}}</a>
                        </p>
                    </div>
                </div>
            </div>

{%- endmacro %}

{% macro recommendedDish(dish_name , dish_id, price) -%}
			<div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <img src="/static/images/default_dish.jpg" alt="">
                    <div class="caption">
                        <h3>{{dish_name}}</h3>
                        <p>Only for {{price}}</p>
                        <p>
                            {{likeDish(dish_id)}} <a href="{{url_for('entities.resto.main', resto_pseudo=resto_pseudo)}}" class="btn btn-default">View Resto</a>
                        </p>
                    </div>
                </div>
            </div>
{%- endmacro %}