{% import 'macros.html' as macros %}
{% extends "layout.html" %}
{% block title %} Trending {% endblock %}

{% block body %}

	<!-- Navigation -->


    <!-- Page Content -->
    <div class="container">

		{%if not isLogged()%}
        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>Food Now!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
            <p><a class="btn btn-primary btn-large" href = "{{url_for('entities.signlog.signup')}}">Sign up</a>
            </p>
        </header>
        {%endif%}

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Trending Restaurants</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

		{%set bestrestos = getMostLikedRestos()%}
		{%if not isLogged()%}
			{%for resto in bestrestos%}
				{{macros.recommendedResto(resto[1],resto[2], resto[0], resto[8])}}
			{%endfor%}
		{%else%} <!-- Discard restos user already likes -->
			{%set likedrestos = getUserLikedRestosId(session['user'][0])%}
			{%for resto in bestrestos%}
				{%if not resto[0] in likedrestos%}
					{{macros.recommendedResto(resto[1],resto[2], resto[0], resto[8])}}
				{%endif%}
				<!--  <p>{{likedrestos|length}}</p> -->
			{%endfor%}
		{%endif%}
        </div>

        <!-- /.row -->

        <hr>

		<!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Trending Dishes</h3>
            </div>
        </div>
        <!-- /.row -->
        <div class="row text-center">

		{%set bestdishes = getMostLikedDishes()%}
		{%if not isLogged()%}
			{%for dish in bestdishes%}

				<div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                	{% if dishImageExists(dish[0])  %}
					<img src="{{ url_for('entities.uploads.dishthumbimage', dish_id = dish[0]) }}"/>
					{% else %}
					<img src="/static/images/inexistantthumbdish.png"/>
					{% endif %}
                    <!-- <img src="/static/images/default_dish.jpg" alt="">  -->
                    <div class="caption">
                        <h3>{{dish[2]}}</h3>
                        <p>Only for {{dish[3]}}</p>
                        <p>
                            {{macros.likeDish(dish[0])}} <a href="{{url_for('entities.resto.main', resto_pseudo=resto_pseudo)}}" class="btn btn-default">View Resto</a>
                        </p>
                    </div>
                </div>
            </div>


			{%endfor%}
		{%else%} <!-- Discard dishes user already likes -->
			{%set likeddishes = getUserLikedDishesId(session['user'][0])%}
			{%for dish in bestdishes%}
				{%if not dish[0] in likeddishes%}

					<div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                	{% if dishImageExists(dish[0])  %}
					<img src="{{ url_for('entities.uploads.dishthumbimage', dish_id = dish[0]) }}"/>
					{% else %}
					<img src="/static/images/inexistantthumbdish.png"/>
					{% endif %}
                    <!-- <img src="/static/images/default_dish.jpg" alt="">  -->
                    <div class="caption">
                        <h3>{{dish[2]}}</h3>
                        <p>Only for {{dish[3]}}</p>
                        <p>
                            {{macros.likeDish(dish[0])}} <a href="{{url_for('entities.resto.main', resto_pseudo=resto_pseudo)}}" class="btn btn-default">View Resto</a>
                        </p>
                    </div>
                </div>
            </div>


				{%endif%}
				<!-- <p>{{likeddishes|length}}p</p> -->
			{%endfor%}
		{%endif%}


        </div>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>



{% endblock %}
