{% import 'macros.html' as macros %}
{% extends "layout.html" %}
{% block title %} Trending {% endblock %}

{% block body %}

	<!-- Navigation -->


    <!-- Page Content -->
    <div class="container">

		{%if not isLogged()%}
        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <h1>Food Now!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
            <p><a class="btn btn-primary btn-large" href = "{{url_for('entities.signlog.signup')}}">Sign up</a>
            </p>
        </header>
        {%endif%}

        <hr>

        <!-- Title -->
        <div class="row">
            <div class="col-lg-12">
                <h3>Trending Restaurants</h3>
            </div>
        </div>
        <!-- /.row -->

        <!-- Page Features -->
        <div class="row text-center">

		{%set bestrestos = getMostLikedRestos()%}

		{%for resto in bestrestos%}
			{{macros.recommendedResto(resto[1],resto[2], resto[0])}}
		{%endfor%}


        </div>

        <!-- /.row -->

        <hr>


    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>



{% endblock %}
