{% import 'macros.html' as macros %}
{% extends "layout.html" %}
{% block title %} Login {% endblock %}
{% block navigation %}

{% endblock %}
{% block body %}


<hr>
<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1>{{getUser()[1]}}</h1></div>
    	<div class="col-sm-2"><a href="/user/{{user_id}}" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="/static/images/default_profile_pic.png"></a></div>
    </div>
    <div class="row">
  		<div class="col-sm-3"><!--left col-->

          <ul class="list-group">
            <li class="list-group-item text-muted">Profile</li>
            <li class="list-group-item text-right"><span class="pull-left"><strong>Name</strong></span> {{getUser()[1]}}</li>
			<li class="list-group-item text-right"><span class="pull-left"><strong>Mail address</strong></span> {{getUser()[2]}}</li>
          </ul>






        </div><!--/col-3-->
    	<div class="col-sm-9">

          <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="#restos" data-toggle="tab">My Restaurants</a></li>
            <li><a href="#settings" data-toggle="tab">My Settings</a></li>
          </ul>

          <div class="tab-content">

             <div class="tab-pane active" id="restos">

               <h2></h2>

               <ul class="list-group">
               	  <li class="list-group-item text-muted">Restos</li>
               	  {%set restos = getLikedRestos(session['user'][0])%}
               	  {%if restos%}
	               	  {%for resto in restos%}
	                  	<div  class="well text-right "><a href="{{url_for('entities.resto.main', resto_pseudo=resto[2])}}" class="pull-left">@{{resto[2]}}</a></div>
                  	  {%endfor%}
                  {%endif%}
                </ul>

             </div><!--/tab-pane-->
             <div class="tab-pane" id="settings">


                  <hr>
                  <form class="form" action="##" method="post" id="registrationForm">
                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="first_name"><h4>Name</h4></label>
                              <input type="text" class="form-control" name="first_name" id="first_name" placeholder="first name" title="enter your first name if any.">
                          </div>


                      </div>

                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="email"><h4>Email</h4></label>
                              <input type="email" class="form-control" name="email" id="email" placeholder="you@email.com" title="enter your email.">
                          </div>
                      </div>

                      <div class="form-group">

                          <div class="col-xs-6">
                              <label for="password"><h4>Password</h4></label>
                              <input type="password" class="form-control" name="password" id="password" placeholder="password" title="enter your password.">
                          </div>
                      </div>
                      <div class="form-group">

                          <div class="col-xs-6">
                            <label for="password2"><h4>Verify</h4></label>
                              <input type="password" class="form-control" name="password2" id="password2" placeholder="password2" title="enter your password2.">
                          </div>
                      </div>
                      <div class="form-group">
                           <div class="col-xs-12">
                                <br>
                              	<button class="btn btn-lg btn-success" type="submit" id="save_settings_btn"><i class="glyphicon glyphicon-ok-sign"></i> Save</button>
                               	<button class="btn btn-lg" type="reset"><i class="glyphicon glyphicon-repeat"></i> Reset</button>
                            </div>
                      </div>
              	</form>
              </div>

              </div><!--/tab-pane-->
          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->

    {% endblock %}
