body {
	padding-top: 50px;
	padding-bottom: 20px;
}

form {
	margin: 0;
}

.navdrop {

}

.alert {
	margin: 0;
}

.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.mainc {
	margin-top: 16px;
}

.title {
	font-size: 26px;
}