body {
	padding-top: 50px;
	padding-bottom: 20px;
}

form {
	margin: 0;
}

.navdrop {

}

.alert {
	margin: 0;
}

.vcenter {
	display: inline-block;
	vertical-align: middle;
	float: none;
}

.mainc {
	margin-top: 16px;
}

.title {
	font-size: 26px;
}

.postactions .posttitle div:first-child {
	font-weight: italic;
}

.postactions .posttitle div:last-child {
	display: none;
	color: gray;
	font-size: 12px;
}

.postactions:hover .posttitle div:last-child {
	display: block;
}